/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  /* background-color: #aaaaaa; */
}

.button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 41px;
}

.button2 {
  text-decoration: none;
  display: inline-block;
  color: rgba(224, 44, 109, 0.87);
  float: right;
  margin-top: 50px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 900;
}
/* top section styles */

.top-section {
  padding: 70px 120px;
}
.section-title {
  color: #3a3a3a;
  font-size: 24px;
}

.top {
  display: flex;
  align-items: center;
}

.top-left {
  width: 582px;
}

.top-left h3 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  margin: 0;
}

.top-left p {
  color: #3a3a3a;
  font-size: 16px;
  margin-bottom: 30px;
}

.top img {
  width: 440px;
  height: 414px;
  margin-left: 133px;
}

/* products styles */

.product-section {
  padding: 70px 200px;
}

.product-section > h3 {
  text-align: center;
  color: #3a3a3a;
  font-size: 28px;
  line-height: 70px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.product {
  padding: 17px 14px;
  box-shadow: 3px 3px 3px 3px#ccc;
  width: 300px;
  border-radius: 5px;
}

.product img {
  width: 300px;
  height: 256px;
}

.product-title {
  color: #18191f;
  font-weight: 500;
  font-size: 28px;
  margin: 10px 0;
}

.product-price {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.filled {
  /* width: 11px;
  height: 10px; */
  color: #fb8200;
  font-size: 12px;
  margin-right: 3px;
}

.rating-value {
  color: #5e6366;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  margin-left: 5px;
}

.product-feature {
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

/* footer styles  */

footer {
  background-color: #0a0826;
  padding: 50px 0;
  margin-top: 100px;
}

footer h3 {
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.rights {
  color: #d9dbe1;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin: 5px;
}

.social-medias {
  text-align: center;
}

.fab {
  color: white;
  margin-right: 30px;
}

/* media queries */
@media only screen and (max-width: 688px) {
  .top-section {
    display: none;
  }
}
